# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
/References
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Mitra management files
lib/screens/mitra/booking_detail_page.dart
lib/screens/mitra/bookings_page.dart
lib/screens/mitra/lapangan_page.dart
lib/screens/mitra/pendapatan_page.dart
lib/screens/mitra/mitra_home_page.dart
